<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ximmerse.xdevice_api_library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <!-- TODO I/O -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- TODO I/O -->
    
    <!-- TODO Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- TODO Bluetooth -->

    <!-- TODO USB -->
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-permission android:name="android.hardware.usb.host" android:required="true" />
    <!-- TODO USB -->

</manifest>
